.nav {
    background-color: #100e1b;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    display: inline-block;

    padding: 15px;

    border-radius: 30px;

    position: fixed;
    top: calc(50% - 82px);
    left: 30px;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}

svg {
    cursor: pointer;
    width: 24px;
    transition: opacity 0.2s ease;
}

svg:hover {
    opacity: 0.7;
}